<!DOCTYPE html>
<html>
  <head>
    <title>MohWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:powderblue;">
    <%= render 'layouts/nav' %>
    <div class="container">
     <%= bootstrap_flash %>
     <%= yield %>
    </div>
    <%= render 'layouts/foot' %>
  </body>
</html>
